backend/public/storage
backend/storage/app/public
backend/vendor
node_modules
docker/dev/storage
.git
.gitignore
docker/prod/*.md
backend/.env
backend/.env.development
frontend/node_modules
frontend/.env
frontend/dist
